# Nuxt
.output
.data
.nuxt
.nitro
.cache
dist

# Node
node_modules

# Logs
logs
*.log

# Env
.env
.env.*
!.env.example

# Python
data/venv/
data/__pycache__/
data/*.db
data/*.pyc
**/__pycache__/
*.pyc

# Data files
data/synop/

# Misc
.DS_Store
.fleet
.idea
*.bak
